    /* 전체 화면 크기  */
    
    #content {
        height: 900px;
        background-color: whitesmoke;
    }
    
    /* 인사 */

      .hi {
        border-style: hidden;
        color: #ffffff; 
        letter-spacing: 10px;
        font-family: 'Caveat', cursive;
        font-size: 55px;
        text-align: left;
        /* padding-top: 50px; */
        padding-bottom: 50px;
        margin: 0;
        padding: 30px;
        width: 800px;
        position: absolute;
        z-index: 1;
    }

    /* 슬라이드 */

    *{
        margin: 0; 
        padding: 0; 
        list-style: none;
    } 

    img {
        width: 2000px;
        height: 700px;
        object-fit: cover;
    }

    #slideWrap { 
        width: 2000px; 
        height: 700px; 
        overflow: hidden;
        position: relative; 
        margin: 0 auto;
        background-repeat: no-repeat; 
    } 
    
    #slider { 
        height: 100%; 
        position: absolute;
    } 
    
    #slider ul {
        display: inline;
    } 
    
    #slider li { 
        float: left; 
        width: 2000px; 
        height: 100%;
    }

    /* 아래글 */

    .main_text {
        width: 98%;
        text-align: right;
        font-size: 20px;
        font-family: 'Cormorant Garamond', serif; 
        margin-top: 50px;
        font-weight: bold;
        color: #3d3d41;
    }
    

