footer {
    width: 100%;
    height: 80px;
    margin-bottom: 1%;
    margin-left: 2%;
    font-family: 'Montserrat', sans-serif;
    color: #b8b8b8;
    font-size: 13px;
    }

footer > h3 {
    padding: 10px; 
    padding-top: 20px;
    flex-wrap: nowrap;
}

footer > p { text-align: center;}

#kh {
    font-family: 'Montserrat', sans-serif;
    color: #b8b8b8;
    font-size: 15px;
    text-align: left;
    padding: 0;
    letter-spacing: 1px;
    text-decoration: none;
}

#kh:hover {
    color: black;
}

#tel {
    font-family: 'Montserrat', sans-serif;
    color: #b8b8b8;
}

#tel:hover {
    color: black;
}

#mail {
    font-family: 'Montserrat', sans-serif;
    color: #b8b8b8;
    font-size: 15px;
    text-align: left;
    padding: 0;
    text-decoration: none;
}

#mail:hover {
    color: black;
}

@font-face {
    font-family: 'Montserrat', sans-serif;
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
    